/** @format */

.container {
  display: grid;
  border: 1px solid grey;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 2fr;
}

.header {
  border: 1px solid grey;
}

.main_content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;

  border: 1px solid gray;
  padding: 10px;
}

.footer {
  border: 1px solid grey;
  height: 40px;
}

.display_area {
  display: grid;
  height: auto;
  gap: 8px;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));

  padding: 20px;
}

.add_book_area {
  display: grid;
  gap: 5px;
}

.add_book_area span {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.book_counter {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  height: 170px;
  width: 400px;
  padding: 20px;
  color: black;
  text-align: justify;
  font-weight: 900px;
  font-size: 20px;
}

.book_counter div {
  display: flex;
  justify-content: space-evenly;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  height: 500px;
  width: 400px;
  padding: 20px;
  color: black;
}

.form-container input {
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

.form-container label {
  font-size: 20px;
  font-weight: 800px;
}
ul,
li {
  list-style: none;
}

ul li {
  display: grid;
  grid-template-columns: 100px 270px;
  grid-template-rows: 10px 10px 10px 10px 20px;
  gap: 2px;
}
img {
  height: 30px;
  width: 30px;
}

.form_contents {
  border: 3px solid gray;
  border-radius: 10px;
}

.form_container {
  display: flex;
  justify-content: center;
}

.book_plus {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
}

input {
  border: 2px solid gray;
}

.card-aRead-T {
  border-left: 8px solid #ace1af;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  height: 170px;
  width: 250px;
  padding: 20px;
  color: black;
  text-align: justify;
}

.card-aRead-F {
  border-left: 8px solid #f08080;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  height: 170px;
  width: 250px;
  padding: 20px;
  color: black;
  text-align: justify;
}

.card-aRead-T-button {
  margin: 2px;
  background-color: #ace1af;
  width: 110px;
  height: 30px;
  border-radius: 3px;
  border: none;
}

.card-aRead-F-button {
  margin: 2px;
  background-color: #f08080;
  width: 110px;
  height: 30px;
  border-radius: 3px;
  border: none;
}
/*.card-aRead-T button {
  background-color: rgb(22, 177, 81);
  width: 100px;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  border: none;
}
.card-aRead-F button {
  background-color: rgb(243, 104, 62);
  width: 100px;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  border: none;
}*/

.edit-read-status {
  display: flex;
  justify-content: space-between;
}

.button-others {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: rgb(71, 11, 71);
  border: none;
}
