/** @format */

.container {
  display: grid;
  border: 1px solid grey;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 2fr;
}

.header {
  border: 1px solid grey;
}

.main_content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;

  border: 1px solid gray;
  padding: 10px;
}

.footer {
  border: 1px solid grey;
  height: 40px;
}

.display_area {
  display: grid;
  height: auto;
  gap: 5px;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));

  padding: 20px;
}

.add_book_area {
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.add_book_area span {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

ul,
li {
  list-style: none;
}

ul li {
  display: grid;
  padding: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);

  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;*/
}
img {
  height: 30px;
  width: 30px;
}

.form_contents {
  border: 3px solid gray;
  border-radius: 10px;
}

.form_container {
  display: flex;
  justify-content: center;
}

.book_plus {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
}

input {
  border: 2px solid gray;
}

.card {
  border-left: 8px solid rgb(71, 11, 71);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  height: 170px;
  width: 250px;
  padding: 20px;
  color: black;
  text-align: justify;
}
.edit-read-status {
  display: flex;
  justify-content: space-between;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: rgb(71, 11, 71);
  border: none;
}
