/** @format */

.container {
  display: grid;
  border: 1px solid grey;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 630px 70px;
}

.header {
  border: 1px solid grey;
}

.main_content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;

  border: 1px solid gray;
  padding: 10px;
}

.footer {
  border: 1px solid grey;
}

.display_area {
  border: 1px solid gray;
}

.add_book_area {
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.add_book_area span {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

ul,
li {
  list-style: none;
}

ul li {
  display: grid;
  padding: 3px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);

  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;*/
}
img {
  height: 30px;
  width: 30px;
}

.form_contents {
  border: 3px solid gray;
  border-radius: 10px;
}

.form_container {
  display: flex;
  justify-content: center;
}

.book_plus {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
  align-items: center;
}

input {
  border: 2px solid gray;
}
